

h1{
  text-align: center;
}

.poltronas-grid {
  display: grid;
  grid-template-columns: repeat(21, 55px);
  gap: 1px;
}

.poltrona{
  background-color: #03fd03;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
  width: 50px;
  margin: 0 auto;
  text-align: center;
}
/*.poltrona.disponivel {
  background-color: #03fd03;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
  width: 50px;
  margin: 0 auto;
  text-align: center;
}*/
.poltrona.selecionada{
  background-color: blue;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
  width: 50px;
  margin: 0 auto;
  text-align: center;
}


.poltrona:hover{
  background-color: blue;
}
.poltrona.active{
  background-color: blue;
  color: blue;
}

.poltrona.vendida {
  background-color: #f00;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
  width: 50px;
}

.preco {
  margin-top: 30px;
  width: 100px;
  height: 100px;
}

h2, h3 {
  margin: 0;
}

input[type="radio"] {
  margin-right: 10px;
}

#calcular {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#imprimir{
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#total {
  font-weight: bold;
  font-size: 24px;

}

.tela{
  font-weight: bold;
  background-color: grey;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 1175px;
}

h2{
  padding-left: 55px;
}
